@model List<TopLearn.DataLayer.Entities.Course.StudentConcert>

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <a class="swiper-slide" href="/MediaInfo?id=@item.StudentConcertId">
                    <img src="/studentConcert/@item.StudentConcertImages.FirstOrDefault().ImageName" alt="@item.Title " />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.Title </h3>
                    </div>
                </a>
            }

        </div>

        <!-- دکمه‌های ناوبری -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>


