@model TopLearn.Core.DTOs.ItemForIndexDto

<section class="hero" data-scroll-section>
    <video width="100%" height="auto" autoplay muted loop>
        <source src="SiteTemplate/img/hirovid.mp4" type="video/mp4">
    </video>

    <div class="divHero">
        <div class="titleHero">
            vahid
            <br />
            najafizadeh
        </div>

    </div>

</section>

<section data-scroll-section>
    <div class="imgOverlay"></div>
</section>

<section data-scroll-section class="textMain">
    <h4>پیشینه هنری</h4>
    <h5>
        نوازنده و مدرس پرکاشن(سازهای کوبه ای)
        <br>
        دارای کارت صلاحیت تدریس از وزارت فرهنگ و ارشاد
        <br>
        شروع فعالیت از سال 81
        <br>
        سابقه اجرا با گروه سنتی ، پاپ و ارکسترال
        <br>
        سابقه تدریس در آکادمی های موسیقی تهران و ارائه ورکشاپ سازهای کوبه ای در آکادمی های تهران
        <br>
        نویسنده و مولف کتاب کاخن
        <br>
        سرپرست گروه موسیقی هاوانا
        <br>
        برگزارکننده کنسرت های هاوانا با خواننده های پاپ و تلفیقی در سالن های کنسرت تهران
    </h5>
</section>

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model.StudentConcerts)
            {
                <div class="swiper-slide" data-fancybox data-src="studentConcert/@item.StudentConcertImages.FirstOrDefault().ImageName"
                     data-caption="@item.Description">
                    <img src="/studentConcert/@item.StudentConcertImages.FirstOrDefault().ImageName" alt="@item.Title" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                    </div>
                </div>
            }
        </div>     
    </div>
</section>

<section class="intro TeamSec" data-scroll-section style="padding:20px !important ; align-items:flex-start">
    <h1 class="titrSec base-template__title">
        Artistic Background
    </h1>

    <div class="base-template__text">
        Percussionist and Instructor
        <br />
        Has a teaching qualification card from the Ministry of Culture and Guidance 
        <br />
        Started activity in 2002
        <br />
        Performance history with traditional, pop and orchestral groups
        <br />
        Teaching background in Tehran's musical instrument academies And presenting percussion workshops in Tehran's academies
        <br />
        Author and instructor of the book "Cajon"
        <br />
        Leader of the Havana's music Group
        <br />
        Organizer of Havana's concerts with pop and fusion singers in Tehran concert halls
    </div>
</section>

<section class="intro TeamSecT" data-scroll-section>

    <div class="why-us-cards">
        <div class="pair-cards why-us-s">
            <div class="pair-card-view s1"
                 style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                <div class="why-us-card s1">
                    <div class="why-us-trail-area"
                         style="transform: translate(0px, 0px);">
                        <div class="why-us-trail-flex down">
                            <div class="why-us-trail move-down">
                                <div class="why-us-taril-cards">
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/Ostad 05.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad2.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/conga_ostad.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad 04.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad3.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad 06.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/Untitled.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/DSC08975.jpg" alt="vahid najafizadeh" class="image-cover"></div>

                                </div>
                            </div>
                        </div>
                        <div class="why-us-trail-flex">
                            <div class="why-us-trail move-up">
                                <div class="why-us-taril-cards">
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad 06.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad3.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/Untitled.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/conga_ostad.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad2.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/Ostad 05.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/DSC08975.jpg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad 04.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                </div>
                            </div>
                        </div>
                        <div class="why-us-trail-flex down">
                            <div class="why-us-trail move-down">
                                <div class="why-us-taril-cards">
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/DSC08975.jpg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad 06.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/Ostad 05.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad3.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/Untitled.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/conga_ostad.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad 04.jpeg" alt="vahid najafizadeh" class="image-cover"></div>
                                    <div class="why-us-taril-card"><img src="SiteTemplate/img/ostad2.jpeg" alt="vahid najafizadeh" class="image-cover"></div>

                                </div>
                            </div>
                        </div>
                        <div class="why-us-move-css w-embed"></div>
                    </div>
                    <div class="why-us-inner-shadow"></div>
                </div>
            </div>          
        </div>
    </div>
</section>



