

<section data-scroll-section class="body">

    <h1 class="title">404</h1>
    <div class="info404">
        <h2>صفحه مورد نظر یافت نشد</h2>
        <p style="font-weight: 100">متأسفیم، صفحه ای که به دنبال آن بودید در اینجا یافت نشد. پیوندی که دنبال کردید ممکن است خراب باشد یا دیگر وجود نداشته باشد. لطفاً دوباره امتحان کنید یا به منو سایت نگاهی بیندازید</p>
        <a href="/" class="text">صفحه اصلی</a>
    </div>

</section>
