@page "{id}"
@model TopLearn.Web.Pages.Admin.StudentConcerts.EditStudentConcertModel
@{
    ViewData["Title"] = ViewData["Header"];
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Header"] </h1>
    </div>
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <input type="hidden" asp-for="StudentConcert.StudentConcertId" />
            <input type="hidden" asp-for="StudentConcert.Type" />
            <div class="form-group">
                <label>عنوان</label>
                <input type="text" asp-for="StudentConcert.Title" class="form-control">
            </div>
            @if (ViewBag.Type == 1 || ViewBag.Type == 2)
            {
                <div class="form-group">
                    <label>تاریخ برگزاری</label>
                    <input type="text" asp-for="StudentConcert.ConcertDate" class="form-control">
                </div>
            }
            <div class="form-group">
                <label>توضیحات</label>
                <textarea id="description" class="form-control" asp-for="StudentConcert.Description" rows="10"></textarea>
                <span asp-validation-for="StudentConcert.Description"></span>
            </div>
            @foreach (var item in Model.StudentConcert.StudentConcertImages)
            {
                <div style="display: inline-block; position: relative; margin: 5px;" id="image-@item.StudentConcertImageId">
                    <img src="/studentConcert/@item.ImageName" class="img-thumbnail" style="width: 250px; height: 250px;
                                                                                                display: block;" alt="تصویر کنسرت">
                    <button style="position: absolute; top: 20px; right: 20px; background: red; color: white; border: none;
                                       cursor: pointer; padding: 2px 5px;"
                            asp-page-handler="DeleteStudentImage" asp-route-id="@item.StudentConcertImageId">
                        X
                    </button>
                </div>
            }
            <div class="form-group">
                <label>انتخاب تصویر</label>
                <input type="file" id="imageList" name="imageList" multiple>
            </div>

            <div class="form-group">
                <div id="imagePreview"></div>
            </div>

            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/4.9.2/full/ckeditor.js"></script>

    <script>
                CKEDITOR.config.versionCheck = false;

        CKEDITOR.replace('description', {
            language: 'fa',
            contentsLangDirection: 'rtl', 
            extraPlugins: 'bidi,justify', 
            toolbar: [
                { name: 'paragraph', items: ['BidiRtl', 'BidiLtr', '-', 'JustifyRight', 'JustifyCenter', 'JustifyLeft'] },
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline','NumberedList', 'BulletedList'] },
                { name: 'clipboard', items: ['Undo', 'Redo'] },
                { name: 'editing', items: ['Scayt'] },
                { name: 'links', items: ['Link', 'Unlink'] },
                { name: 'insert', items: ['Image', 'Table'] },
                { name: 'styles', items: ['Format'] },
                { name: 'tools', items: ['Maximize'] }
            ]
        });


    </script>

    <script>
        var dt = new DataTransfer();

        function updatePreview() {
            $("#imagePreview").html("");
            for (var i = 0; i < dt.files.length; i++) {
                var file = dt.files[i];
                var reader = new FileReader();

                reader.onload = function (e) {
                    var imgContainer = $("<div>").css({
                        "display": "inline-block",
                        "position": "relative",
                        "margin": "5px"
                    });

                    var img = $("<img>").attr("src", e.target.result).css({
                        "width": "250px",
                        "height": "250px",
                        "display": "block"
                    }).addClass("img-thumbnail");

                    var deleteButton = $("<button>").text("X").css({
                        "position": "absolute",
                        "top": "20px",
                        "right": "20px",
                        "background": "red",
                        "color": "white",
                        "border": "none",
                        "cursor": "pointer",
                        "padding": "2px 5px"
                    }).click(function () {
                        dt.items.remove(i);
                        $("#imageList").prop("files", dt.files);
                        updatePreview();
                    });

                    imgContainer.append(img).append(deleteButton);
                    $("#imagePreview").append(imgContainer);
                };

                reader.readAsDataURL(file);
            }
        }

        $("#imageList").on("change", function (e) {
            var files = e.target.files;
            for (let i = 0; i < files.length; i++) {
                dt.items.add(files[i]);
            }
            $("#imageList").prop("files", dt.files);
            updatePreview();
        });

        // function deleteImage(id) {
        //     $.post("/Admin/StudentConcert/EditStudentConcert?handler=DeleteStudentImage", { id: id })
        //         .done(function() {
        //             $("#image-" + id).remove(); // حذف تصویر از صفحه
        //         });

        // }


    </script>

}
