@model List<TopLearn.DataLayer.Entities.Course.CourseGroup>


<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <a class="swiper-slide" href="/@ViewData["Target"]?id=@item.GroupId">
                    <img src="/group/@item.ImageName" alt="@item.GroupTitle" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.GroupTitle</h3>
                    </div>
                </a>
            }

        </div>

        <!-- دکمه‌های ناوبری -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>



