@model List<TopLearn.DataLayer.Entities.Course.Product>

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide" onclick="showProduct('@item.ProductId')">
                    <img src="/course/@item.CourseImageName" alt="@item.CourseTitle" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.CourseTitle</h3>
                    </div>
                </div>
            }
        </div>

        <!-- دکمه‌های ناوبری -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>


