@page "{id}"
@model TopLearn.Web.Pages.Admin.Courses.EditCourseModel
@{
    ViewData["Title"] = "ویرایش محصول";
}

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Product.CreateDate" />
        <input type="hidden" asp-for="Product.ProductId" />
        <input type="hidden" asp-for="Product.CourseImageName" />
        <div class="col-md-12">
            <h2>اطلاعات محصول</h2>
            <hr />
            <div class="form-group">
                <label>عنوان محصول</label>
                <input type="text" asp-for="Product.CourseTitle" class="form-control">
                <span asp-validation-for="Product.CourseTitle"></span>
            </div>
            <div class="form-group">
                <label>گروه اصلی</label>
                <select class="form-control" asp-for="Product.GroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                <span asp-validation-for="Product.GroupId"></span>
            </div>
            <div class="form-group">
                <label>گروه فرعی</label>
                <select class="form-control" asp-for="Product.SubGroup" asp-items="@(ViewData["SubGroups"] as SelectList)"></select>
                <span asp-validation-for="Product.SubGroup"></span>
            </div>

            <div class="form-group">
                <label>شرح محصول</label>
                <textarea id="description" class="form-control" asp-for="Product.CourseDescription" rows="10"></textarea>
                <span asp-validation-for="Product.CourseDescription"></span>
            </div>
            <div class="form-group">
                <label>قیمت محصول</label>
                <input type="number" asp-for="Product.CoursePrice" class="form-control" />
                <span asp-validation-for="Product.CoursePrice"></span>
            </div>
            <div class="form-group">
                <label>کلمات کلیدی محصول</label>
                <input type="text" asp-for="Product.Tags" class="form-control">
                <p class="help-block">کلمات را با - جدا کنید</p>
                <span asp-validation-for="Product.Tags"></span>
            </div>
            <div class="form-group">
                <p>تصویر فعلی</p>
                @if (Model.Product.CourseImageName == "no-photo.jpg")
                {
                    <img id="imgCourse" class="thumbnail" src="/UserAvatar/Defult.jpg" alt="image" />
                }
                else
                {
                    <img id="imgCourse" class="thumbnail" src="/course/@Model.Product.CourseImageName" alt="image" />
                }
                <div class="form-group">
                    <label>انتخاب تصویر</label>
                    <input type="file" name="imgCourseUp" id="imgCourseUp">
                </div>


            </div>
            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
        </div>
      
    </form>
</div>

@section Scripts
{

    <script src="https://cdn.ckeditor.com/4.9.2/full/ckeditor.js"></script>
    <script>
        CKEDITOR.config.versionCheck = false;
        CKEDITOR.replace('description', {
            language: 'fa',
            contentsLangDirection: 'rtl', // جهت پیش‌فرض راست‌به‌چپ
            extraPlugins: 'bidi,justify', // فعال‌سازی پلاگین‌های جهت‌دهی و چینش
            toolbar: [
                { name: 'paragraph', items: ['BidiRtl', 'BidiLtr', '-', 'JustifyRight', 'JustifyCenter', 'JustifyLeft'] },
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline','NumberedList', 'BulletedList'] },
                { name: 'clipboard', items: ['Undo', 'Redo'] },
                { name: 'editing', items: ['Scayt'] },
                { name: 'links', items: ['Link', 'Unlink'] },
                { name: 'insert', items: ['Image', 'Table'] },
                { name: 'styles', items: ['Format'] },
                { name: 'tools', items: ['Maximize'] }
            ]
        });


    </script>


    <script>
        $("#Course_GroupId").change(function () {
            $("#Course_SubGroup").empty();
            $.getJSON("/home/GetSubGroups/" + $("#Course_GroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#Course_SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');

                        });

                });


        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgCourse').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgCourseUp").change(function () {
            readURL(this);
        });
    </script>


}


