@model List<TopLearn.DataLayer.Entities.Course.Instrument>

<section class="list" data-scroll-section style="margin-top: 50px">

    <div class="listDnl wrapper mrgTop">

        <div class="content-wrapper">
            <div class="tab-content active">
                <div class="productList">
                    @foreach (var item in Model)
                    {
                        <a href="/InstrumentInfo?id=@item.InstrumentId">
                            <div class="product-item">
                                <img src="/instrument/@item.ImageName" alt="@item.InstrumentTitle" style="height: 150px;max-width: 100%">
                                <p class="product-item-p1"> @item.InstrumentTitle.Split("-")[0] </p>
                                <p class="product-item-p1"> @item.InstrumentTitle.Split("-")[1] </p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>

</section>

