@model TopLearn.DataLayer.Entities.Course.Instrument

<section data-scroll-section>
    <div class="ProductShowFlex">
        <div class="sliderMe">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/instrument/@Model.ImageName" alt="@Model.InstrumentTitle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-scroll-section>
    <div class="text">
        @Html.Raw(Model.Description)
    </div>
</section>

<section data-scroll-section>
    <div class="list-images">

        <div class="list-images__heading-box">

            <div class="lightbar">
                <div class="lightbar_line" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                </div>
                <div class="lightbar_cover"></div>
                <div class="lightbar_light" style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%) translate(0px, -128px); opacity: 0.35;">
                </div>
            </div>
            <h1 class="list-images__heading">
                گالری
                <span class="list-images__heading-span">
                    تصاویر
                </span>

            </h1>
        </div>

        <div class="productList">
            <div class="product-item">
                <img src="/instrument/@Model.ImageName" style="width: 100%" alt="@Model.InstrumentTitle">
            </div>
        </div>

    </div>

</section>
