@model List<TopLearn.DataLayer.Entities.Course.Student>

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide" onclick="MentorInfo('@item.StudentId','@item.StudentFullName.Replace(' ','-')')">
                    <img src="/student/@item.ImageName" alt="@item.StudentFullName" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.StudentFullName</h3>
                    </div>
                </div>
            }
        </div>

        <!-- دکمه‌های ناوبری -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>


