

<section data-scroll-section style="margin-top: 60px">
    <div class="container row">

        <section class="seating">
            <h1 style="text-align: center">کنسرت هاوانا</h1>
            <br />
            <h2>وحید نجفی زاده</h2>
            <br />
            <button class="nav-button" onclick="openTicket()">دانلود بلیط های من</button>
            <a class="nav-button" href="/ReserveTicket">خرید بلیط</a>
        </section>

    </div>
</section>
<hr />
<section data-scroll-section>
    <div class="row container" style="line-height:30px;">
        <p>
            <span style="font-weight:bold">دعوت به سفری موسیقایی در قلب نیاوران</span>
            <br />
            با افتخار شما را به کنسرت گروه موسیقی هاوانا دعوت می‌کنیم؛ اجرایی متفاوت و پرانرژی در یکی از زیباترین و مجهزترین سالن‌های موسیقی تهران: سالن کنسرت خلیج فارس نیاوران. این سالن با طراحی آکوستیک حرفه‌ای، نورپردازی مدرن و فضایی صمیمی، میزبان هنرمندان برجسته و مخاطبانی است که به دنبال تجربه‌ای ناب از موسیقی هستند.
            <br />
            🎼 سبک موسیقی ما: تلفیقی از احساس و تکنیک
            <br />
            در این اجرا، شما با ترکیبی منحصربه‌فرد از سبک‌های موسیقی مواجه خواهید شد؛ تلفیقی از موسیقی کلاسیک، جز، راک و المان‌های موسیقی ایرانی که در کنار هم، فضایی تازه و شنیدنی خلق می‌کنند. هر قطعه، داستانی‌ست از هم‌نشینی فرهنگ‌ها و صداها.
            <br />
            در این کنسرت اساتید همچون خانم محدثه جمشیدی (نوازنده پرکاشن ) و آقای امیر چهارم (خواننده) در کنار تیم هاوانا حضور دارند
            <br />
            تاریخ اجرا : 27 آذر 1404 ساعت 11 صبح
            <br />
            مکان: سالن کنسرت خلیج فارس نیاوران
            <div class="list-images">
                <div class="productList">
                    <div class="product-item" data-fancybox data-src="/SiteTemplate/img/niavaran.webp"
                         data-caption="سالن کنسرت خلیج فارس نیاوران">
                        <img src="/SiteTemplate/img/niavaran.webp" style="width: 100%" alt="سالن کنسرت خلیج فارس نیاوران">
                    </div>
                </div>
            </div>
            <br />
            در این کنسرت با شکوه اساتید برجسته و هنرمندان نام آشنایی در کنار گروه پرانرژی هاوانا حضور دارند.
            <br />
            <ul>
                <li>
                    <b> وحید نجفی زاده</b> : &nbsp; مدیر هنری ، برگزارکننده کنسرت ، سرپرست ، مدرس و نوازنده پرکاشن
                </li>
                <li><b>محدثه جمشیدی</b> :&nbsp; نوازنده پرکاشن</li>
                <li><b>میلاد دودانگه</b> :&nbsp; نوازنده گیتار بیس</li>
                <li><b>داریوش مشکین</b> :&nbsp; نوازنده گیتار الکتریک</li>
                <li><b>حسین سیمرغ</b> :&nbsp; نوازنده عود</li>
                <li><b>امیر چهارم</b> :&nbsp; خواننده</li>
                <li><b>امید اولادی</b> :&nbsp; نوازنده پیانو</li>
            </ul>

            <b>معرفی اعضای گروه به ترتیب حروف الفبا</b>
            <br />
            <ul>
                <li><b> ملینا افسری</b>:&nbsp; هنگدرام</li>
                <li><b> سنا الله وردی</b>:&nbsp; هنگدرام</li>
                <li><b> محمدرضا بختیاری</b>:&nbsp; کونگا</li>
                <li><b> حدیث تبریزی</b>:&nbsp; کاخن</li>
                <li><b> پارسا توکل</b>:&nbsp; کاخن</li>
                <li><b> زهرا جباری</b>:&nbsp; درامز</li>
                <li><b> سپهر حکمت</b>:&nbsp;کاخن</li>
                <li><b> آرین سرحدی</b>:&nbsp; کاخن - هنگدرام</li>
                <li><b> بهار شیخی</b>:&nbsp; هنگدرام</li>
                <li><b> محمدصادق طاووسی</b>:&nbsp;داربوکا - جیمبی</li>
                <li><b> نگار علی محمد</b>:&nbsp; هنگدرام</li>
                <li><b> پانیک عطاری</b>:&nbsp; هنگدرام</li>
                <li><b> آوا عنصری</b>:&nbsp; هنگدرام</li>
                <li><b> افشین عنصری</b>:&nbsp; کاخن</li>
                <li><b> پانیذ فتوحی</b>:&nbsp;هنگدرام</li>
                <li><b> پوریا فرهادنیا</b>:&nbsp; فلوت</li>
                <li><b> آرزو فضل اللهی</b>:&nbsp; هنگدرام</li>
                <li><b> امیرعباس قلعه نویی</b>:&nbsp; هنگدرام - کاخن</li>
                <li><b> بسام کیا</b>:&nbsp; گیتار</li>
                <li><b> پرهام معنوی</b>:&nbsp; کاخن</li>
                <li><b> غزال نجفی</b>:&nbsp; هنگدرام</li>
                <li><b> نسترن نصیری</b>:&nbsp; کاخن</li>
            </ul>

        </p>
    </div>
    <div class="list-images">
        <div class="productList">
            <div class="product-item" data-fancybox data-src="/SiteTemplate/img/niavaran.jpg"
                 data-caption="سالن کنسرت خلیج فارس نیاوران">
                <img src="/SiteTemplate/img/niavaran.jpg" style="width: 100%" alt="سالن کنسرت خلیج فارس نیاوران">
            </div>
        </div>      
        <div class="productList">
            <div class="product-item" data-fancybox data-src="/SiteTemplate/img/hall.jpg"
                 data-caption="سالن کنسرت خلیج فارس نیاوران">
                <img src="/SiteTemplate/img/hall.jpg" style="width: 100%" alt="سالن کنسرت خلیج فارس نیاوران">
            </div>
        </div>
    </div>
</section>


@section Styles
{
    <style>

        .ticket-header {
            background: #6200ea;
            color: white;
            padding: 1rem;
            text-align: center;
        }

        nav {
            margin-top: 0.5rem;
        }

        .nav-button {
            background: white;
            color: black;
            border: none;
            padding: 0.5rem 1rem;
            margin: 0 0.25rem;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }

        .seating {
            padding: 1rem;
        }

        .seat-chart {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            direction: ltr;
        }



        .productList .product-swiper .swiper-slide img,
        .productList .thumbnail-item img {
            -webkit-user-select: none;
            user-select: none;
            pointer-events: auto;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }

        .product-item-p3 {
            -webkit-user-select: none;
            user-select: none;
        }



        .productList {
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;
            width: 87.5%;
            margin: 0 auto;
            display: grid;
        }

        .product-item {
            cursor: pointer;
            border-radius: 2px;
            padding: 10px;
            transition: all .3s;
            position: relative;
            border-radius: 25px;
            overflow: hidden;
            inset: 0%;
        }

            .product-item:hover {
                transform: translateY(-8px);
                /* box-shadow: 0 6px 30px #e8a11229; */
            }

            .product-item img {
                object-fit: contain;
                border: 1px solid #fafafa1c;
                border-radius: 2px;
                width: 100%;
                height: auto;
                margin-bottom: 16px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                height: 285px;
            }

        .productList .product-swiper .swiper-slide img {
            object-fit: contain;
            border-radius: 12px;
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
        }

        .product-item a {
            color: #fff;
            text-transform: uppercase;
            margin: 0 0 8px;
            font-family: Barracuda;
            font-size: 40px;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
            transition: all .3s;
            position: relative;
        }

            .product-item a:after {
                content: "";
                background-color: #e9a215;
                width: 0;
                height: 2px;
                transition: width .3s;
                position: absolute;
                bottom: -4px;
                left: 0;
            }

        .product-item:hover a {
            color: #e9a215;
        }

            .product-item:hover a:after {
                width: 100%;
            }

        .product-item-p1 {
            color: #cfcfcf;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
        }

        .product-item-p2 {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: undefined;
            letter-spacing: 0;
            text-align: right;
            text-transform: uppercase;
            line-height: 16px;
        }

        .product-item-p3 {
            color: #cfcfcf;
            text-transform: uppercase;
            margin: 0;
            font-size: 20px;
            font-weight: 500;
        }

        .productList .product-swiper {
            border-radius: 12px;
            width: 100%;
            height: auto;
            min-height: 200px;
            margin: 10% 0 5%;
            position: relative;
            overflow: hidden;
        }

        .productList .product-thumbnails {
            margin-bottom: 5%;
        }

        .product-swiper-1 img {
            -webkit-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
            pointer-events: none;
        }

        .productList .product-item:before {
            content: "";
            z-index: 1;
            opacity: .24;
            pointer-events: none;
            background-image: url("SiteTemplate/img/hoverBack.png");
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 254.5px;
            width: 90%;
            height: 90%;
            transition: all .3s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .product-item:hover:before {
            opacity: .8;
            background-image: url("SiteTemplate/img/hoverBack.png");
        }

        .productList .swiper-slide {
            opacity: 0;
            visibility: hidden;
            z-index: 10;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: opacity .3s;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sliderMe .swiper-slide {
            border-radius: 4px;
        }

        .productList .swiper-slide.active {
            opacity: 1;
            visibility: visible;
            height: auto;
            position: relative;
        }

        .productList .swiper-slide img {
            object-fit: contain;
            border-radius: 12px;
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }

        .productList .swiper-button-prev,
        .productList .swiper-button-next {
            color: #fff;
            cursor: pointer;
            z-index: 10;
            background: #000;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            transition: all .3s;
            display: flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .productList .swiper-button-prev {
            left: 10px;
        }

        .productList .swiper-button-next {
            right: 10px;
        }

            .productList .swiper-button-prev:hover,
            .productList .swiper-button-next:hover {
                color: #fff;
                background: #e9a215;
                transform: translateY(-50%)scale(1.05);
            }

            .productList .swiper-button-prev:active,
            .productList .swiper-button-next:active {
                transform: translateY(-50%)scale(.95);
            }

            .productList .swiper-button-prev:after,
            .productList .swiper-button-next:after {
                content: none;
            }

        .productList .product-thumbnails {
            z-index: 20;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin-top: 16px;
            display: flex;
            position: relative;
        }

        .productList .thumbnail-item {
            opacity: .7;
            cursor: pointer;
            background-color: #ffffff1a;
            border: 2px solid #0000;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            transition: all .3s;
            overflow: hidden;
        }

            .productList .thumbnail-item:hover {
                border-color: #e9a215;
                transform: scale(1.05);
            }

            .productList .thumbnail-item.active {
                opacity: 1;
                border-color: #e9a215;
                box-shadow: 0 0 10px #e9a2154d;
            }

            .productList .thumbnail-item img {
                object-fit: contain;
                border-radius: 6px;
                width: 100%;
                height: 100%;
            }

        @@media (max-width:1400px) {
            .productList {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @@media (max-width:992px) {
            .productList {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        @@media (max-width: 576px) {
            .product-item img {
                height: auto !important;
            }
        }

        @@media (max-width:576px) {
            .productList {
                margin-bottom: 40px;
            }

            .product-item a {
                font-size: 32px;
            }

            .product-item-p3 {
                font-size: 18px;
            }
        }

        @@media (max-width:450px) {
            .productList .product-swiper .swiper-slide img {
                max-width: 50%;
            }

            .productList .thumbnail-item {
                width: 35px;
                height: 35px;
            }
        }

        .product-p2 {
            font-size: 1rem;
            color: #6a6a6a;
        }

        .teamDiv {
            text-align: center;
            margin: 2em auto;
            margin-bottom: 0;
        }

        @@media (max-width:980px) {
            .ProductShowFlex {
                display: block;
                width: 90%;
                margin: 0 auto;
                margin-top: 5em;
            }

            .template_item {
                transform: unset !important;
            }

            .textPshow {
                padding-right: 0;
                text-align: center;
                direction: ltr;
                margin-top: 4em;
                width: 100%;
                margin: 0 auto;
            }

            .swiper-cards .swiper-slide img {
                width: 100%;
                height: auto;
            }

            .sliderMe .swiper {
                width: 75vw;
                height: auto;
            }

            .buttonDown {
                height: 70px;
                padding: 0 10px;
                width: 210px;
                margin: 2em auto;
                position: unset;
            }

            h1 {
                font-size: 3.5rem;
                width: 80%;
                margin: 0 auto;
            }

            .list-images {
                padding: 30px 0 5rem;
                margin-top: 0;
            }

            .productList {
                margin: 0px auto;
            }

            .lightbar {
                padding-top: 4.5rem;
            }
        }
    </style>
}

@section Scripts {
    <script>
        function openTicket() {
               Swal.fire({
                   title: 'شماره موبایل خود را وارد نمایید',
                   input: 'text',
                   inputPlaceholder: '09123456789',
                   showCancelButton: true,
                   confirmButtonText: 'دانلود',
                   cancelButtonText: 'انصراف',
                   preConfirm: (value) => {
                       if (!value || value.length !== 11) {
                           Swal.showValidationMessage('شماره موبایل معتبر نمی باشد');
                       }
                       return value;
                   }
               }).then((result) => {
                   if (result.isConfirmed) {
                       var inputValue = result.value;
                       var targetUrl = `https://vahidnajafizadeh.com/DownloadTicket?mobile=${inputValue}`;
                       window.location.href = targetUrl;
                   }
               });
           }


    </script>
}
