<section data-scroll-section class="imgCenter" style="direction:ltr !important;margin-top:80px;">
    <h1 style="color: #f2f2f2; text-align: center;">Coming Soon</h1>
    <div class="flipclock" id="flipclock-1"></div>
</section>

@section Scripts {
    <script>
        (function () {

                function FlipClock(el, config) {
                    var _this = this;
                    var updateTimeout;
                    _this.el = el;
                    _this.config = Object.assign({
                        endDate: new Date('2026-03-06T14:30:00'),
                        labels: {
                            days: 'روز',
                            hours: 'ساعت',
                            minutes: 'دقیقه',
                            seconds: 'ثانیه'
                        }
                    }, config);

                    _this.current = {
                        d: "00",
                        h: "00",
                        m: "00",
                        s: "00"
                    };

                    createView();
                    updateView();
                    addObserver();

                    function start() {
                        var now = new Date().getTime();
                        var end = _this.config.endDate.getTime();

                        if (now >= end) {
                            // وقتی زمان تمام شد
                            _this.current = { d: "00", h: "00", m: "00", s: "00" };
                            updateView();
                            stop(); // تایمر را متوقف کن
                            return;
                        }

                        _this.current = getTimeUntil(end, now);
                        updateView();
                        clearTimeout(updateTimeout);
                        updateTimeout = setTimeout(start, 500);
                    }

                    function getTimeUntil(dateFuture, dateNow) {
                        var delta = (dateFuture - dateNow) / 1000; // بدون abs تا منفی نشود
                        if (delta <= 0) {
                            return { d: "00", h: "00", m: "00", s: "00" };
                        }

                        var d = Math.floor(delta / 86400);
                        delta -= d * 86400;
                        var h = Math.floor(delta / 3600) % 24;
                        delta -= h * 3600;
                        var m = Math.floor(delta / 60) % 60;
                        delta -= m * 60;
                        var s = Math.floor(delta % 60);

                        d = pad3(d);
                        h = pad2(h);
                        m = pad2(m);
                        s = pad2(s);

                        return {
                            d: d + "",
                            h: h + "",
                            m: m + "",
                            s: s + ""
                        };
                    }


                    function stop() {
                        clearTimeout(updateTimeout);
                    }

                    function destroy() {
                        stop();
                        _this.observer.disconnect();
                        _this.el.innerHTML = "";
                    }



                    // Assumes a non-negative number.
                    function pad2(number) {
                        if (number < 10) return "0" + number;
                        else return "" + number;
                    }

                    function pad3(number) {
                        if (number < 10) return number;
                        else if (number < 100) return number;
                        else return "" + number;
                    }

                    function createView() {
                        _this.daysLeaf = createLeaf(_this.config.labels.days, 3);
                        _this.hoursLeaf = createLeaf(_this.config.labels.hours);
                        _this.minutesLeaf = createLeaf(_this.config.labels.minutes);
                        _this.secondsLeaf = createLeaf(_this.config.labels.seconds);
                    }

                    function createLeaf(label, digits) {
                        var leaf = document.createElement("div");
                        leaf.className = "leaf _" + (digits ? digits : "2") + "-digits";
                        leaf.setAttribute("data-label", label);
                        var top = document.createElement("div");
                        var topLabel = document.createElement("span");
                        top.className = "top-clock";
                        top.appendChild(topLabel);
                        var frontLeaf = document.createElement("div");
                        var frontLabel = document.createElement("span");
                        frontLeaf.className = "leaf-front";
                        frontLeaf.appendChild(frontLabel);
                        var backLeaf = document.createElement("div");
                        var backLabel = document.createElement("span");
                        backLeaf.className = "leaf-back";
                        backLeaf.appendChild(backLabel);
                        var bottom = document.createElement("div");
                        var bottomLabel = document.createElement("span");
                        bottom.className = "bottom";
                        bottom.appendChild(bottomLabel);

                        leaf.appendChild(top);
                        leaf.appendChild(frontLeaf);
                        leaf.appendChild(backLeaf);
                        leaf.appendChild(bottom);

                        _this.el.appendChild(leaf);

                        return {
                            el: leaf,
                            topLabel: topLabel,
                            frontLabel: frontLabel,
                            backLabel: backLabel,
                            bottomLabel: bottomLabel
                        };
                    }

                    function updateView() {
                        updateLeaf(_this.daysLeaf, _this.current.d);
                        updateLeaf(_this.hoursLeaf, _this.current.h);
                        updateLeaf(_this.minutesLeaf, _this.current.m);
                        updateLeaf(_this.secondsLeaf, _this.current.s);
                    }

                    function updateLeaf(leaf, value) {
                        if (leaf.isFlipping) return;

                        var currentValue = leaf.topLabel.innerText;
                        if (value !== currentValue) {
                            leaf.isFlipping = true;
                            leaf.topLabel.innerText = value;
                            leaf.backLabel.innerText = value;
                            leaf.el.classList.add("flip");

                            clearTimeout(leaf.timeout);
                            leaf.timeout = setTimeout(function () {
                                leaf.frontLabel.innerText = value;
                                leaf.bottomLabel.innerText = value;
                                leaf.el.classList.remove("flip");
                            }, 600);

                            clearTimeout(leaf.timeout2);
                            leaf.timeout2 = setTimeout(function () {
                                leaf.isFlipping = false;
                            }, 1000);
                        }
                    }

                    function addObserver() {
                        _this.observer = new IntersectionObserver(function (entries, observer) {
                            entries.forEach(function (entry) {
                                if (entry.isIntersecting) {
                                    start();
                                } else {
                                    stop();
                                }
                            });
                        });

                        _this.observer.observe(_this.el);
                    }

                    return {
                        start: start,
                        stop: stop,
                        destroy: destroy,
                        getCurrent: function () {
                            return _this.current;
                        }
                    };
                }


                //================================================
                // Initialise the examples
                var currentYear = new Date().getFullYear();

                // FlipClock 1 Example: My Birthday
                new FlipClock(document.getElementById('flipclock-1'), {
                    endDate: new Date('2026-03-06T14:30:00'),
                    labels: {
                        days: 'روز',
                        hours: 'ساعت',
                        minutes: 'دقیقه',
                        seconds: 'ثانیه'
                    }
                });

            })();


    </script>
}

@section Styles {
    <style>
        /* Flipclock Looks */
        .flipclock {
            display: flex;
            justify-content: center;
            padding: 40px;
            box-sizing: border-box;
        }

            .flipclock * {
                box-sizing: inherit;
            }

        @@media only screen and (max-width: 768px) {
            .imgCenter img {
                width: 85%;
            }
        }

        @@media only screen and (min-width: 768px) {
            .imgCenter img {
                width: 40%;
            }
        }
    </style>

      <style>
        /* Flipclock Looks */
        .flipclock {
            display: flex;
            justify-content: center;
            padding: 40px;
            box-sizing: border-box;
        }

            .flipclock * {
                box-sizing: inherit;
            }

        .leaf {
            display: flex;
            flex-direction: column;
            margin: 0 4px;
            perspective: 300px;
        }

            .leaf::after {
                content: attr(data-label);
                position: absolute;
                top: 100%;
                left: 50%;
                margin-top: 8px;
                transform: translateX(-50%);
                color: #f2f2f2;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                opacity: 0.5;
            }

        .top-clock,
        .bottom,
        .leaf-front,
        .leaf-back {
            position: relative;
            display: block;
            height: 64px;
            width: 120px;
            background-color: #f2f2f2;
            color: #2d3748;
            overflow: hidden;
            border-color: #2d3748;
        }

            .top-clock span,
            .bottom span,
            .leaf-front span,
            .leaf-back span {
                position: absolute;
                left: 50%;
                width: 100%;
                height: 128px;
                text-align: center;
                font-family: "Impact", sans-serif;
                font-size: 80px;
                line-height: 128px;
                transform: translateX(-50%);
            }

        .leaf._3-digits .top-clock,
        .leaf._3-digits .bottom,
        .leaf._3-digits .leaf-front,
        .leaf._3-digits .leaf-back {
            width: 148px;
        }

        .top-clock,
        .leaf-front {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            /* margin-bottom: 1px; */
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

            .top-clock span,
            .leaf-front span {
                top: 0;
            }

        .leaf-front {
            position: absolute;
            z-index: 10;
        }

        .bottom,
        .leaf-back {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-style: solid;
            border-top-width: 1px;
        }

            .bottom span,
            .leaf-back span {
                bottom: 0;
            }

        .leaf-back {
            position: absolute;
            top: 64px;
            z-index: 10;
        }

        /* Responsive */
        @@media screen and (max-width: 600px) {
            .flipclock {
                padding: 6.66vw;
            }

            .leaf {
                margin: 0 0.66vw;
            }

                .leaf::after {
                    margin-top: 1.33vw;
                    font-size: 2.33vw;
                }

            .top-clock,
            .bottom,
            .leaf-front,
            .leaf-back {
                height: 10.66vw;
                width: 20vw;
            }

                .top-clock span,
                .bottom span,
                .leaf-front span,
                .leaf-back span {
                    height: 21.33vw;
                    font-size: 13.33vw;
                    line-height: 21.33vw;
                }

            .leaf._3-digits .top-clock,
            .leaf._3-digits .bottom,
            .leaf._3-digits .leaf-front,
            .leaf._3-digits .leaf-back {
                width: 24.66vw;
            }

            .top-clock,
            .leaf-front {
                border-top-left-radius: 1vw;
                border-top-right-radius: 1vw;
            }

            .bottom,
            .leaf-back {
                border-bottom-left-radius: 1vw;
                border-bottom-right-radius: 1vw;
            }

            .leaf-back {
                top: 10.66vw;
            }
        }

        /* Flipclock Animation */
        .leaf-front {
            transform-origin: bottom center;
            transform: rotateX(0deg);
            transform-style: preserve-3d;
            transition-delay: 0.3s;
        }

        .leaf-back {
            transform-origin: top center;
            transform: rotateX(90deg);
            transform-style: preserve-3d;
            transition-delay: 0s;
        }

        .bottom::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
            filter: blur(10px);
        }

        .flip .leaf-front {
            transform: rotateX(-90deg);
            transition: transform 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
            transition-delay: 0s;
            color: #1a1a1a;
            /* جایگزین darken */
            background-color: #bfbfbf;
            /* جایگزین darken */
        }

        .flip .leaf-back {
            transform: rotateX(0deg);
            transition: transform 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
            transition-delay: 0.3s;
        }

        .flip .bottom::before {
            transition: height 0.3s ease-in-out;
            transition-delay: 0.15s;
            height: 100%;
        }
    </style>
}