@page
@model TopLearn.Web.Pages.Admin.IndexModel
@{

}

<div class="row container">
    <a class="btn btn-primary" href="/Admin/Instruments">لیست ساز ها</a>
    <a class="btn btn-default" href="/Admin/CourseGroups"> گروه ها</a>
    <a class="btn btn-warning" href="/Admin/StudentConcerts">کنسرت های هنرجویی</a>
    <a class="btn btn-success" href="/Admin/MusicNote">نت ها</a>
</div>


