@page
@model TopLearn.Web.Pages.Admin.IndexModel
@{

}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <a class="btn btn-success btn-block" href="/Admin/Ticket">بلیط کنسرت</a>
        </div>
      @*   <div class="col-xs-4">
            <a class="btn btn-warning btn-block" href="/Admin/Academy">آموزشگاه ها</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="/Admin/Instruments">لیست ساز ها</a>
        </div> *@
    </div>
@*     <br />
    <div class="row">
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="/Admin/CourseGroups">گروه ها</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-success btn-block" href="/Admin/StudentConcerts?type=1"
               style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">کنسرت های هنرجویی</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-default btn-block" href="/Admin/MusicNote">نت ها</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-4">
            <a class="btn btn-default btn-block" href="/Admin/Student">منتورها</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="/Admin/MenuItem">منو</a>
        </div>
    </div> *@
</div>




