@page
@using TopLearn.Core.DTOs
@model TopLearn.Web.Pages.Admin.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Ticket">بلیط کنسرت</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Academy">آموزشگاه ها</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/MenuItem">منو</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Instruments">لیست ساز ها</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Student?type=1">منتورها</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/MusicNote">نت ها</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=1">کنسرت های هنرجویی</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=2">ورک شاپ ها</a>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/CourseGroups">دسته بندی محصولات </a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Courses"> محصولات</a>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=5"> کنسرت های من</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Student?type=2">هنرجویان برتر گروهی</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=6">رادیو جوان</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=7">جام جم</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=4">کتاب ها</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/StudentConcerts?type=3">کلاس گروهی</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Certificate">مدرک</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Comments">کامنت ها</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Video">ویدیوها</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/GalleryImage">گالری تصاویر</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary btn-block" href="/Admin/Subscribers">مشترکین</a>
        </div>
    </div>
</div>




