	
<section data-scroll-section>
    <div class="container row">
        <div class="footer row">

            <div class="tab-buttons">
                <button class="tablinks active" onclick="openTab(event, 'Tab1Content')">درخواست مدرک</button>
                <button class="tablinks" onclick="openTab(event, 'Tab2Content')">دریافت مدرک</button>
            </div>

            <div id="Tab1Content" class="tab-content" style="display: block;">
                <form action="/RequestCertificate" method="post" id="requestCertificate">
                    <p style="color: white">مدارک‌ در ۴ سطح (مبتدی، متوسطه، پیشرفته و مربی‌گری) صادر می‌شوند. لازم به ذکر است که هزینه چاپ و ارسال مدرک بر عهده خود هنرجو خواهد بود.</p>
                    <div class="form-group">
                        <label for="firstName">نام(به انگلیسی)  :</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" required placeholder="نام">
                    </div>
                    <div class="form-group">
                        <label for="lastName">نام خانوادگی(به انگلیسی)  :</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" required placeholder="نام خانوادگی">
                    </div>
                    <div class="form-group">
                        <label for="nationalCode">کد ملی  :</label>
                        <input type="text" class="form-control" name="nationalCode" id="nationalCode" required placeholder="کد ملی">
                    </div>
                    <div class="form-group">
                        <label for="mobile">شماره موبایل:</label>
                        <input type="text" class="form-control" name="mobile" id="mobile" maxlength="11" minlength="11"
                               required placeholder="09123456789">
                    </div>
                    <div class="form-group">
                        <label for="academy">نام آموزشگاه  :</label>
                        <input type="text" class="form-control" name="academy" id="academy" placeholder="نام آموزشگاه">
                    </div>
                    <div class="form-group">
                        <label for="instrument">نام ساز  :</label>
                        <input type="text" class="form-control" name="instrument" id="instrument" placeholder="نام ساز">
                    </div>
                    <div class="form-group">
                        <label for="address">آدرس :</label>
                        <textarea type="text" class="form-control" name="address" id="address" placeholder="آدرس" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postalCode">کد پستی  :</label>
                        <input type="text" class="form-control" name="postalCode" id="postalCode" placeholder="کد پستی">
                    </div>
                    <div class="form-group">
                        <label for="description">توضیحات :</label>
                        <textarea type="text" class="form-control" name="description" id="description" placeholder="توضیحات" rows="3"></textarea>
                    </div>
                    <p style="color:yellow;font-weight:bold" id="error-text"></p>
                    <button type="button" style="background-color:blue;color:white;padding:10px;border-radius:5px;"
                            id="saveBtn" onclick="confirmSubmit(1)">
                        ثبت اطلاعات
                    </button>
                </form>

            </div>

            <div id="Tab2Content" class="tab-content">
                <form id="showCertificate">
                    <h3>دریافت مدارک تقاضاداده شده </h3>
                    <div class="form-group">
                        <label for="mobileReq"> موبایل :</label>
                        <input type="text" class="form-control" name="mobileReq" id="mobileReq" required placeholder="موبایل">
                    </div>
                    <button type="button" style="background-color:blue;color:white;padding:10px;border-radius:5px;"
                            id="saveBtn" onclick="confirmSubmit(2)">
                        دریافت مدرک
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
