@model TopLearn.Core.DTOs.LoginViewModel

<section data-scroll-section class="overflow">
    <div class="note-position-1 note-amination">
        &#9835;
    </div>
    <div class="note-position-2 note-amination animation-delay-2">
        &#9833;
    </div>
    <div class="note-position-3 note-amination animation-delay-1">
        &#119070;
    </div>
    <div class="note-position-4 note-amination">
        &#9834;
    </div>

    <div class="note-position-5 note-amination animation-delay-1">
        &#119070;
    </div>
    <div class="note-position-6 note-amination">
        &#9834;
    </div>

    <div class="note-position-7 note-amination animation-delay-1">
        &#119070;
    </div>


    <div class="ring">
        <i></i>
        <i></i>
        <i></i>
        <form asp-action="Login" method="post">
            <div class="loginDiv">
                <div class="login">
                    <h2> ورود </h2>
                    <div class="inputBx">
                        <input type="text" placeholder="شماره همراه" asp-for="Mobile">
                    </div>
                    <div class="inputBx">
                        <input type="password" placeholder="رمز عبور" asp-for="Password">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="ورود">
                    </div>                  
                     <div class="links">
                        <a href="/RecoverPassword" id="recoveryPass"> بازیابی رمز عبور  </a>
                        <a href="/Register" id="registerPart">ثبت نام</a>
                    </div> 
                </div>
            </div>

        </form>
       
    </div>


</section>

