@model TopLearn.Core.DTOs.LoginViewModel

<section data-scroll-section class="overflow">
    <div class="note-position-1 note-amination">
        &#9835;
    </div>
    <div class="note-position-2 note-amination animation-delay-2">
        &#9833;
    </div>
    <div class="note-position-3 note-amination animation-delay-1">
        &#119070;
    </div>
    <div class="note-position-4 note-amination">
        &#9834;
    </div>

    <div class="note-position-5 note-amination animation-delay-1">
        &#119070;
    </div>
    <div class="note-position-6 note-amination">
        &#9834;
    </div>

    <div class="note-position-7 note-amination animation-delay-1">
        &#119070;
    </div>


    <div class="ring">
        <i></i>
        <i></i>
        <i></i>
        <form id="registerForm" action="/Register" method="post">
            <div class="login RegisterPart">
                <h2>ثبت نام</h2>              
                <div class="inputBx">
                    <input type="text" placeholder="شماره موبایل" asp-for="Mobile" id="mobile">
                </div>
                <div class="inputBx">
                    <input type="password" placeholder="رمز عبور" asp-for="Password" id="password">
                </div>
                <div class="inputBx">
                    <input type="password" placeholder="تکرار رمز عبور" asp-for="RePassword" id="rePassword">
                </div>
                <strong id="message" style="color:orangered">@ViewData["Message"]</strong>

                <div class="inputBx">
                    <input type="button" value="ثبت" onclick="register()">
                </div>
                <div class="links">
                    <a href="/RecoverPassword" id="recoveryPass"> بازیابی رمز عبور  </a>
                    <a href="/Login" id="registerPart">ورود به سایت </a>
                </div>
            </div>
        </form>
    </div>


</section>
